@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question {
    font-size: 100px;
}
.ans-row {
    display: flex;
    box-sizing: border-box;
}
.answer {
    width: 65px; height: 65px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container_h3{
    margin-bottom: 10px;
}

.start_btn {
    border: 1px black solid;
    padding: 0.5em;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.start_btn:hover {
    background: rgb(212, 212, 212);
}

.main {
    display: none;
}

.start_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
